services:
  db:
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_USER: todo
      POSTGRES_PASSWORD: zxc
      POSTGRES_DB: todo_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U todo"]
      interval: 10s
      timeout: 5s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4:latest
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_LISTEN_ADDRESS: '0.0.0.0'
    ports:
      - "8080:80"
    depends_on:
      - db
    volumes:
      - pgadmin-data:/var/lib/pgadmin

  api:
    image: python:3.12-slim
    command: >
      bash -c "
        echo 'Ждём монтирования volume...';
        sleep 5;
        if [ -f requirements.txt ]; then
          echo 'Устанавливаем зависимости...';
          pip install --no-cache-dir -r requirements.txt;
        else
          echo '!!! requirements.txt НЕ НАЙДЕН !!!';
          ls -la;
        fi &&
        echo 'Запускаем приложение...';
        exec uvicorn main:app --host 0.0.0.0 --port 8000 --reload
      "
    restart: always
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    working_dir: /app
    depends_on:
      db:
        condition: service_healthy
    environment:
      DATABASE_URL: postgresql+asyncpg://todo:zxc@db:5432/todo_db
      PYTHONUNBUFFERED: "1"

  frontend:
    image: nginx:alpine
    restart: unless-stopped
    ports:
      - "3000:80"
    volumes:
      - ./frontend:/usr/share/nginx/html:ro
    depends_on:
      - api

  ngrok:
    image: ngrok/ngrok:latest
    command: http api:8000
    ports:
      - "4041:4040"
    environment:
      NGROK_AUTHTOKEN: ${NGROK_AUTHTOKEN}
    depends_on:
      - api

volumes:
  pgdata:
  pgadmin-data: